@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para ele ficar respansiva dps*/
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex; /*para ficar lado a lado*/
    min-height: 100vh; /*para ocupar todo o espaço no minimo*/
    background-color: #e3e9f7;
}
main{
    padding: 20px;
}
#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
}
#sidebar_content{
    padding: 12px;
}
#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover; /*serve para n perder a qualidade*/
    border-radius: 20px;
}
#user_infos{
    display: flex;
    flex-direction: column;
}
#user_infos span:last-child{
    columns: #6b6b6b;
    font-size: 12px;
}

#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}
.side-item.active{
    background-color: #4f46e5;
}
.side-item:hover:not(.active){
    background-color: #e3e9f7;
}
.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    grid-area: 14px;
    color: #0a0a0a;
}
.side-item.active a {
    color: #e3e9f7;
}

.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
#Logout{
    border-top: 1px solid #e3e9f7;
    padding: 12px;

}
#Logout_btn{
    border: none;
}